.action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .submit {
        display: flex;
        flex-direction: column;
        > div {
            margin: 16px 0;
            text-align: center;
        }
    }
}