<iap-breadscrumb></iap-breadscrumb>
<iap-page-header>
  CREATE NEW ASSURANCE PLAN
</iap-page-header>

<div class="annual-item-container">
</div>
<iap-box class="normal-border">
  <div class="detail">
    <form [formGroup]="form">
      <div class="detail row col-md-12">
        <div class="col-md-9 col-xs-12">
          <div class="content">
            <p class="notice">Please complete all compulsory fields(*) and click Save to complete your review.</p>
            <div class="content-wrapper">
              <div class="input-fields">
                <div class="system-generated-info">
                  <div class="info-item">
                    <iap-label required>AP Reference No</iap-label>
                    <p>{{assurance.referenceNumber || '&lt;system autopopulate&gt;'}}</p>
                  </div>
                  <div class="info-item">
                    <iap-label required>AP Status</iap-label>
                    <p>{{assurance.status || '&lt;system autopopulate&gt;'}}</p>
                  </div>
                  <div class="info-item">
                    <iap-label required>Assurance Year</iap-label>
                    <!-- <p>{{assurance.year}}</p> -->
                  </div>
                </div>

                <div class="row">
                  <mat-form-field class="col-md-6">
                    <mat-select formControlName="mdAssuranceLineId" placeholder="Assurance Line" (selectionChange)="onLineChange($event)">
                      <mat-option *ngFor="let assuranceLine of lstAssuranceLine" value={{assuranceLine.id}}>{{assuranceLine.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.mdAssuranceLineId?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-6">
                    <mat-select formControlName="category" placeholder="Assurance Category">
                      <mat-option value="Planed">Planed</mat-option>
                      <mat-option value="Unplaned" [disabled]='isFirstLine'>Unplaned</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.category?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                  </mat-form-field>

                </div>

                <mat-form-field *ngIf="!isSecondLine" class="col-md-12">
                  <textarea matInput formControlName="title" placeholder="Assurance Title" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                  <mat-error *ngIf="form.controls.title?.hasError('required')">
                    {{message.ERROR_REQUIRED_FIELD}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="!isSecondLine" class="col-md-12">
                  <textarea matInput formControlName="description" placeholder="Assurance Description" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <div class="row">
                  <mat-form-field class="col-md-6">
                    <mat-select formControlName="month" (selectionChange)="onChangeMonth()" placeholder="Assurance Month" required>
                      <mat-option value="1">January</mat-option>
                      <mat-option value="2">February</mat-option>
                      <mat-option value="3">March</mat-option>
                      <mat-option value="4">April</mat-option>
                      <mat-option value="5">May</mat-option>
                      <mat-option value="6">June</mat-option>
                      <mat-option value="7">July</mat-option>
                      <mat-option value="8">August</mat-option>
                      <mat-option value="9">September</mat-option>
                      <mat-option value="10">October</mat-option>
                      <mat-option value="11">November</mat-option>
                      <mat-option value="12">December</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.month?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-6">
                    <mat-select formControlName="mdLocationId" placeholder="Location">
                      <mat-option *ngFor="let location of lstLocation" value={{location.id}}>{{location.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.mdLocationId?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput formControlName="startDate" [min]="minDate" [max]="maxDate" [matDatepicker]="startDate" placeholder="Assurance Start Date" required>
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                      <mat-error *ngIf="form.controls.startDate?.hasError('required')">
                        {{message.ERROR_REQUIRED_FIELD}}
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput formControlName="endDate" [min]="minDate" [max]="maxDate" [matDatepicker]="endDate" placeholder="Assurance End Date" required>
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                      <mat-error *ngIf="form.controls.endDate?.hasError('required')">
                        {{message.ERROR_REQUIRED_FIELD}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div *ngIf="!isSecondLine" class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select formControlName="mdAssuranceTypeId" placeholder="Assurance Type" (selectionChange)="onAssuranceTypeChange($event)">
                        <mat-option *ngFor="let assuranceType of lstAssuranceType" value={{assuranceType.id}}>{{assuranceType.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls.mdAssuranceTypeId?.hasError('required')">
                        {{message.ERROR_REQUIRED_FIELD}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select formControlName="mdRiskAreaId" placeholder="Risk Area" (selectionChange)="onRiskAreaChange($event)">
                        <mat-option *ngFor="let riskArea of lstRiskArea" value={{riskArea.id}}>{{riskArea.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls.mdRiskAreaId?.hasError('required')">
                        {{message.ERROR_REQUIRED_FIELD}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div *ngIf="!isSecondLine" class="row secondLine">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select formControlName="checkList" placeholder="Checklist">
                        <mat-option *ngFor="let option of lstChecklist" value={{option.id}}>{{option.title}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls.checkList?.hasError('required')">
                        {{message.ERROR_REQUIRED_FIELD}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <ng-container *ngIf="!isSecondLine">
                  <iap-info-row>
                    <div class="col-md-6">
                      <iap-label>OPU</iap-label>
                      <iap-info-label>{{userInformation.opu.name}}</iap-info-label>
                    </div>
                    <div class="col-md-6" *ngIf="false">
                      <iap-label>Dept</iap-label>
                      <iap-info-label>{{assurance.mdDeparmentName}}</iap-info-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="col-md-6">
                        <mat-select formControlName="mdDepartmentId" placeholder="Department">
                          <mat-option *ngFor="let department of lstDepartments" value={{department.id}}>{{department.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </iap-info-row>
                  <iap-info-row>
                    <div class="col-md-6">
                      <iap-label>Lead Assessor</iap-label>
                      <iap-info-label>{{userInformation.displayName}}</iap-info-label>
                    </div>                   
                  </iap-info-row>
                </ng-container>
                
                <!-- for 2nd line -->
                <div *ngIf="isSecondLine" class="row">
                  <mat-form-field class="col-md-6">
                    <mat-select formControlName="mdEnterpriseId" placeholder="Assessee OPU/Company">
                      <mat-option *ngFor="let assessee of lstAssessee" value={{assessee.id}}>{{assessee.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.mdEnterpriseId?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                  </mat-form-field>
                  <div class="col-md-6">
                  </div>
                </div>
                <div *ngIf="isSecondLine" class="row">
                    <div class="col-md-6">
                        <iap-label>Lead Assessor</iap-label>
                        <iap-people-picker [getForId]="assurance.leadAssessor" defaultRole="LeadAssessor" #ppLeadAssessor isRequire=true
                         placeholder="Lead Assessor Name" 
                         (selectedUserChange)="handleSelectedUser($event)"></iap-people-picker>
                    </div>
                    <div class="col-md-6">
                        <iap-label>Team Lead</iap-label>
                      <iap-people-picker [getForId]="assurance.teamLead" defaultRole="TeamLead" #ppTeamLead isRequire=true placeholder="Team Lead Name" 
                      (selectedUserChange)="handleSelectedUser($event)"></iap-people-picker>
                    </div>
                </div>

                <ng-container *ngIf="!isSecondLine && !isAssuranceTypeFc">
                  <div class="col-md-6">
                    <iap-label>Team Lead</iap-label>
                    <iap-people-picker defaultRole="TeamLead" isRequire=true placeholder="Team Lead Name" 
                    (selectedUserChange)="handleSelectedUser($event)"></iap-people-picker>
                  </div>
                  <div class="rich-text">
                    <iap-label required>Scope</iap-label>
                    <ckeditor formControlName="scope"></ckeditor>
                  </div>
                  <mat-error *ngIf="form.controls.scope?.hasError('required')">
                    {{message.ERROR_REQUIRED_FIELD}}
                  </mat-error>
                  <br/>
                  <div class="rich-text">
                    <iap-label required>Proposed Agenda</iap-label>
                    <ckeditor formControlName="proposedAgenda"></ckeditor>
                  </div>
                  <mat-error *ngIf="form.controls.proposedAgenda?.hasError('required')">
                    {{message.ERROR_REQUIRED_FIELD}}
                  </mat-error>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="btn-group">
            <div class="detail-action">
              <button mat-raised-button color="primary" (click)="onSave()">SAVE</button>
            </div>
            <div class="detail-action">
              <button mat-raised-button class="mat-button-petronas-ghost" (click)="location.back()">CANCEL</button>
            </div>
          </div>

          <div *ngIf="false" class="btn-group">
            <div class="detail-action">
              <button mat-raised-button id="edit" class="btn-ghost petronas">EDIT</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</iap-box>

<!-- <p>Form: {{form.value | json}}</p> -->