<iap-box class="left-bordered violet">
  <iap-checklist-workflow-header (expand)="handleExpand()" (collapse)="handleCollapse()"></iap-checklist-workflow-header>
  <div class="container" #body>
    <hr>
    <iap-checklist-workflow-body-assign-action-party *ngIf="true"></iap-checklist-workflow-body-assign-action-party>
    <iap-checklist-workflow-body-lead-report-view *ngIf="false"></iap-checklist-workflow-body-lead-report-view>
    <iap-checklist-workflow-body-cap *ngIf="false"></iap-checklist-workflow-body-cap>
  </div>
</iap-box>
