<iap-small-card-template [color]="'dept-aap'">
  <header>
    <iap-card-status (deleteItem)="handleDeleteItem()" [time]="'18:30 19/2/2018'">{{deptAapItem.status}}</iap-card-status>
    <iap-card-ref [name]="'Ref No.'">{{deptAapItem.referenceNo}}</iap-card-ref>
    <iap-card-title [name]="'Title'">{{deptAapItem.title}}</iap-card-title>
  </header>
  <footer>
    <iap-card-info-row>
      <iap-card-info [name]="'Location'">{{deptAapItem.locationName}}</iap-card-info>
      <iap-card-info [name]="'Assurance Type'">{{deptAapItem.assuranceTypeName}}</iap-card-info>
    </iap-card-info-row>
    <iap-card-info-row>
        <iap-card-info [name]="'Risk Area'">{{deptAapItem.riskAreaName}}</iap-card-info>
        <iap-card-info [name]="'Checklist'">{{deptAapItem.checklistName}}</iap-card-info>
      </iap-card-info-row>
    <iap-card-nav-icon-row>
      <iap-card-info [name]="'Required Action'">To update</iap-card-info>
      [href]="['/web/annual-assurance-plan/dept-aap-item-detail',deptAAP.id]"
      <iap-card-nav-icon [href]="['/web/annual-assurance-plan/dept-aap-item-detail',deptAapItem.id]"></iap-card-nav-icon>
    </iap-card-nav-icon-row>
  </footer>
</iap-small-card-template>