<iap-page-header>Search Annual Assurance Plan</iap-page-header>
<iap-dept-aap-filter [hidden]="!isShowFilter"
(searchClick)="onSearchClick($event)"
(cancelClick)="onCancelClick()"
(resetClick)="onResetClick()"></iap-dept-aap-filter>
<iap-list-header-row>
  <iap-list-header [name]="'Results:'">
    <span class="item-count">{{lstDepartment.length}} item(s)</span>
  </iap-list-header>
  <iap-list-header-action>
    <div class="action">
      <a>
        <button mat-raised-button class="mat-button-petronas-ghost-small">Sort</button>
        <button (click)="toggleFilter()" mat-raised-button class="mat-button-petronas-ghost-small">Filter</button>
      </a>
    </div>
    </iap-list-header-action>
</iap-list-header-row>
<iap-list-small-card-template>
  <iap-search-dept-aap-item (onDeleteClick)="onDelete(item)" *ngFor="let item of lstDepartment" [deptAAP]="item"></iap-search-dept-aap-item>
</iap-list-small-card-template>
<div *ngIf="lstDepartment?.length > 0">
  <iap-pagination-template (onPagingClick)="pagingClick($event)" [pager]="pager"></iap-pagination-template>
</div>