<iap-list-header-row>
  <iap-list-header [name]="'List of Action Items:'">
    <span class="item-count">{{actionItems.length}} action items</span>
    <button mat-raised-button (click)="openActionDialog()">
      <i class="material-icons">add</i>
      ADD ACTION ITEM
    </button>
  </iap-list-header>
</iap-list-header-row>
<hr>

<iap-list-small-card-template>
  <iap-action-item (onDeleteClick)="onDelete(actionItem)" *ngFor="let actionItem of actionItems" [data]="actionItem"></iap-action-item>
</iap-list-small-card-template>
