<div class="findings">
  <iap-label>Findings (1)</iap-label>
  <a [routerLink]="'/web/annual-assurance-plan/assurance-plan/checklist/findings/detail/' + findingItem.id" class="pet-link">{{findingItem.description}}</a>
</div>
<div class="detail">
  <div class="fx-row wrap items-2">
    <div>
      <iap-label>Type of Finding</iap-label>
      <iap-info-label>{{findingItem.typeOfFinding}}</iap-info-label>
    </div>
    <div>
      <iap-label>Finding Status</iap-label>
      <iap-info-label>{{findingItem.status}}</iap-info-label>
    </div>
  </div>
</div>
<div class="remark">
  <iap-label>Remarks from: {{findingItem.remarkerDisplayName}}</iap-label>
  <mat-form-field class="full-width">
    <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5">{{findingItem.remark}}</textarea>
  </mat-form-field>
</div>



