<nav [class.expand]="(isSidebarExpand$ | async) === true">
  <ul (click)="collapseSideBar()">
    <li>
      <a routerLinkActive="active" routerLink="/web/dashboard">
        <div class="nav-icon-wrapper">
          <div class="img-wrapper">
            <img class="icon-image" src="../../../../../assets/images/MenuIcon_Dashboard.png" alt="">
            <img class="icon-image selected" src="../../../../../assets/images/MenuIcon_Dashboard_Selected.png" alt="">
          </div>
          <span>Dash Board</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/web/admin/master-data">
        <div class="nav-icon-wrapper">
          <div class="img-wrapper">
            <img class="icon-image" src="../../../../../assets/images/MenuIcon_Findings.png" alt="">
            <img class="icon-image selected" src="../../../../../assets/images/MenuIcon_Findings_Selected.png" alt="">
          </div>
          <span>Master Data</span> 
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/web/my-task" routerLinkActive="active">
        <div class="nav-icon-wrapper">

          <div class="img-wrapper">
            <img class="icon-image" src="../../../../../assets/images/MenuIcon_MyTask.png" alt="">
            <img class="icon-image selected" src="../../../../../assets/images/MenuIcon_MyTask_Selected.png" alt="">
          </div>
          <span>My Task</span>
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/web/annual-assurance-plan/search-aap" routerLinkActive="active">
        <div class="nav-icon-wrapper">
          <div class="img-wrapper">
            <img class="icon-image" src="../../../../../assets/images/MenuIcon_AAP.png" alt="">
            <img class="icon-image selected" src="../../../../../assets/images/MenuIcon_AAP_selected.png" alt="">
          </div>
          <span>Annual Assurance Plans</span>
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/web/annual-assurance-plan/ap-adhoc" routerLinkActive="active">
        <div class="nav-icon-wrapper">
          <div class="img-wrapper">
            <img class="icon-image" src="../../../../../assets/images/MenuIcon_AP.png" alt="">
            <img class="icon-image selected" src="../../../../../assets/images/MenuIcon_AP_Selected.png" alt="">
          </div>
          <span>Assurance Plans</span>
        </div>
      </a>
    </li>
  </ul>
</nav>

<div class="nav-back-drop" *ngIf="(isSidebarExpand$ | async) === true" (click)="collapseSideBar()"></div>
