<form [formGroup]="form">
  <div class="detail row col-md-12">
    <div class="col-md-9 col-xs-12">
      <iap-info-row *ngIf="!assurance.isSecondLine">
        <div>
          <iap-label>Assurance Title</iap-label>
          <iap-info-label>{{assurance.title}}</iap-info-label>
        </div>
        <div>
          <iap-label>Location</iap-label>
          <iap-info-label>{{assurance.mdLocationName}}</iap-info-label>
        </div>
      </iap-info-row>

      <iap-info-row>
        <div *ngIf="assurance.isAutoCreated && !assurance.isSecondLine">
          <iap-label>Assurance Description</iap-label>
          <iap-info-label>{{assurance.description}}</iap-info-label>
        </div>

        <div *ngIf="assurance.isAutoCreated">
          <iap-label>Assurance Month</iap-label>
          <iap-info-label>{{assurance.monthName}}</iap-info-label>
        </div>

        <mat-form-field class="col-md-6" *ngIf="!assurance.isAutoCreated">
          <mat-select formControlName="month" (selectionChange)="onChangeMonth()" placeholder="Assurance Month" required>
            <mat-option value="1">January</mat-option>
            <mat-option value="2">February</mat-option>
            <mat-option value="3">March</mat-option>
            <mat-option value="4">April</mat-option>
            <mat-option value="5">May</mat-option>
            <mat-option value="6">June</mat-option>
            <mat-option value="7">July</mat-option>
            <mat-option value="8">August</mat-option>
            <mat-option value="9">September</mat-option>
            <mat-option value="10">October</mat-option>
            <mat-option value="11">November</mat-option>
            <mat-option value="12">December</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.month?.hasError('required')">
            {{message.ERROR_REQUIRED_FIELD}}
          </mat-error>
        </mat-form-field>

        <div *ngIf="assurance.isAutoCreated && assurance.isSecondLine">
          <iap-label>Location</iap-label>
          <iap-info-label>{{assurance.mdLocationName}}</iap-info-label>
        </div>

        <mat-form-field class="col-md-6" *ngIf="!assurance.isAutoCreated">
          <mat-select formControlName="mdLocationId" placeholder="Location">
            <mat-option *ngFor="let location of lstLocation" value={{location.id}}>{{location.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.mdLocationId?.hasError('required')">
            {{message.ERROR_REQUIRED_FIELD}}
          </mat-error>
        </mat-form-field>

      </iap-info-row>

      <iap-info-row>
        <mat-form-field class="col-md-6">
          <input matInput formControlName="startDate" [matDatepicker]="startDate" placeholder="Assurance Start Date" required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput formControlName="endDate" [matDatepicker]="endDate" placeholder="Assurance End Date" required>
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </iap-info-row>

      <ng-container *ngIf="!assurance.isSecondLine && !isSubmitter">
        <iap-info-row>
          <div>
            <iap-label>Assurance Type</iap-label>
            <iap-info-label>{{assurance.assuranceTypeName}}</iap-info-label>
          </div>
          <div>
            <iap-label>Risk Area</iap-label>
            <iap-info-label>{{assurance.mdRiskAreaName}}</iap-info-label>
          </div>
        </iap-info-row>
      </ng-container>

      <iap-info-row *ngIf="!assurance.isSecondLine">
        <div>
          <iap-label>Checklist</iap-label>
          <iap-info-label>PTW</iap-info-label>
          <button mat-raised-button class="mat-button-petronas-ghost-small btn-radius btn-view-checklist">View Checklist</button>
        </div>
      </iap-info-row>

      <ng-container *ngIf="(assurance.isAutoCreated || !assurance.isSecondLine) && !isSubmitter">
        <iap-info-row>
          <div>
            <iap-label>OPU</iap-label>
            <iap-info-label>{{userInformation.opu.name}}</iap-info-label>
          </div>
          <div>
            <iap-label>Department</iap-label>
            <iap-info-label>{{assurance.mdDeparmentName}}</iap-info-label>
          </div>
        </iap-info-row>
      </ng-container>

      <div *ngIf="(!assurance.isAutoCreated && assurance.isSecondLine)" class="row">
        <mat-form-field class="col-md-6">
          <mat-select formControlName="mdEnterpriseId" placeholder="Assessee OPU/Company">
            <mat-option *ngFor="let assessee of lstAssessee" value={{assessee.id}}>{{assessee.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.mdEnterpriseId?.hasError('required')">
            {{message.ERROR_REQUIRED_FIELD}}
          </mat-error>
        </mat-form-field>
      </div>

      <ng-container *ngIf="isSubmitter; else assessor">
        <iap-label x-large-text wide-margin>Assurance Frequency</iap-label>
        <iap-info-row>
          <div>
            <iap-label>PTS Requirement</iap-label>
            <iap-info-label>5 per year</iap-info-label>
          </div>
          <div>
            <iap-label>OPU Requirement</iap-label>
            <iap-info-label>7 per year</iap-info-label>
          </div>
        </iap-info-row>

        <iap-info-row>
          <div>
            <mat-form-field>
              <input matInput placeholder="No of plans" required iapInputNumber maxlength="2">
              <mat-hint>per year</mat-hint>
            </mat-form-field>
          </div>
        </iap-info-row>

        <iap-label x-large-text wide-margin>Planned Assurance</iap-label>
        <div class="planned-assurance-container">
          <div class="frequency-plan-header">
            <div class="month-header" *ngFor="let month of months">
              <label>{{month}}</label>
            </div>
          </div>
          <div class="frequency-plan">
            <label>Per Month</label>
            <div class="frequency-container">
              <div class="monthly-plan" *ngFor="let monthly of monthlyFrequency">
                <label>{{monthly}}</label>
              </div>
            </div>
          </div>
          <div class="frequency-plan annual">
            <label>Per Year</label>
            <div>
              <label>{{annualFrequency}}</label>
            </div>
          </div>
          <div class="frequency-plan quarterly">
            <label>Per Quarter</label>
            <div class="frequency-container">
              <div class="quarterly-plan" *ngFor="let quarterly of quarterlyFrequency; let i = index">
                <label [class.is-met]="isMetMinimum(quarterly, i)">{{quarterly}}</label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #assessor>
        <iap-info-row>
          <div *ngIf="!assurance.isSecondLine">
            <iap-label>Lead Assessor</iap-label>
            <iap-info-label>{{userInformation.displayName}}</iap-info-label>
          </div>
          <div *ngIf="!assurance.isSecondLine && assurance.isAssuranceTypeFc">
            <mat-form-field>
              <textarea required formControlName="remark" matInput placeholder="Remarks" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
              <mat-error *ngIf="form.controls.remark?.hasError('required')">
                {{message.ERROR_REQUIRED_FIELD}}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="assurance.isSecondLine">
            <div class="col-md-10">
              <!-- <textarea matInput formControlName="leadAssessor" placeholder="Lead Assessor" required matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="1"></textarea> -->
              <iap-label>Lead Assessor</iap-label>
              <iap-people-picker [getForId]="assurance.leadAssessor" defaultRole="LeadAssessor" placeholder="Lead Assessor Name" (selectedUserChange)="leadAssessor = $event"></iap-people-picker>
            </div>
          </div>
          <div *ngIf="assurance.isSecondLine || (!assurance.isSecondLine && !assurance.isAssuranceTypeFc)">
            <div class="col-md-10">
              <!-- <textarea matInput formControlName="teamLead" placeholder="Team Lead" required matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="1"></textarea> -->
              <iap-label>Team Lead</iap-label>
              <iap-people-picker [getForId]="assurance.teamLead" defaultRole="TeamLead" placeholder="Team Lead Name" (selectedUserChange)="teamLead = $event"></iap-people-picker>
            </div>
          </div>
        </iap-info-row>
      </ng-template>
      <ng-container>

        <div class="rich-text" *ngIf="!assurance.isSecondLine && !assurance.isAssuranceTypeFc">
          <iap-label required>Scope</iap-label>
          <ckeditor formControlName="scope"></ckeditor>
        </div>
        <div class="rich-text" *ngIf="!assurance.isSecondLine && !assurance.isAssuranceTypeFc">
          <iap-label required>Proposed Agenda</iap-label>
          <ckeditor formControlName="proposedAgenda"></ckeditor>
        </div>
      </ng-container>
    </div>
    <div class="col-md-3 col-xs-12">
      <div *ngIf="!isSubmitter" class="btn-group">
        <div class="detail-action">
          <button mat-raised-button color="primary">SUBMIT</button>
        </div>
        <span>Update plan and assign assesors 0 of 2 complete</span>
        <div class="detail-action">
          <button mat-raised-button class="btn-ghost petronas" (click)="onSave()">SAVE</button>
        </div>
        <div class="detail-action">
          <button mat-raised-button class="btn-ghost petronas" *ngIf='!isFc'>PREVIEW MEMO</button>
        </div>
      </div>

      <div *ngIf="isSubmitter" class="btn-group">
        <div class="detail-action">
          <button mat-raised-button id="edit" class="btn-ghost petronas">EDIT</button>
        </div>
      </div>
    </div>
  </div>
</form>
