<div class="header col-md-12">
  <div class="title"> List of Checklist Item For Assign Action Party For First Line FC
  </div>
</div>

<iap-box class="left-bordered violet" *ngFor="let question of data?.listQuestions">
  <iap-list-checklist-item-first-line-fc-assign-action-party-view-header [question]="question" (expand)="handleExpand()" (collapse)="handleCollapse()"></iap-list-checklist-item-first-line-fc-assign-action-party-view-header>
  <div class="container" #body>
    <hr>
    <iap-checklist-workflow-body-assign-action-party [question]="question"></iap-checklist-workflow-body-assign-action-party>
  </div>
</iap-box>