@import 'mixin';
:host {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  ::ng-deep {
    >* {
      flex-basis: 50%;
      @include responsive(xs) {
        flex-basis: 100%;
        &:first-child {
            margin-bottom: 16px;
        }
      }
    }
  }
  &[no-margin-bottom] {
    margin-bottom: 0;
  }
}
