<iap-list-header-row>
  <iap-list-header [name]="'List of Progress Update:'">
    <span class="item-count">{{listAItemProgress?.length}} items</span>
  </iap-list-header>
  <iap-list-header-action>
    <button mat-raised-button class="mat-button-petronas-ghost" (click)="openDialog()">+ ADD PROGRESS UPDATE</button>
  </iap-list-header-action>
</iap-list-header-row>
<hr>
<iap-list-small-card-template>
 <!-- (onDeleteClick)="onDelete(item)" -->
  <iap-progress-update  (onDeleteClick)="onDelete(item)" *ngFor="let item of listAItemProgress" [actionItemProgress]="item"></iap-progress-update>
</iap-list-small-card-template>
