      <div class="description" *ngIf='firstLineMsLeadAccessorReportApprover'>
       
        <div class="section" *ngFor="let section of firstLineMsLeadAccessorReportApprover?.listSections" >
          <span class="number">{{section.referenceNumber}}</span>
          <span class="content">{{section.description}}</span>
        </div>
        <div class="question-ms" *ngFor="let question of firstLineMsLeadAccessorReportApprover?.listQuestions">
          <span class="number">{{question?.referenceNumber}}</span>
          <span class="content">{{question?.description}}</span>
        </div>       
      </div> 

      <div class="info" *ngIf='firstLineMsLeadAccessorReportApprover'>
       
          <div class="fx-row wrap items-2">
            <div>
                <iap-label>Total Findings</iap-label>
                <iap-info-label>{{firstLineMsLeadAccessorReportApprover.totalFindings}}</iap-info-label>             
                <br/>
                <iap-label>Level</iap-label>
                <iap-info-label>{{firstLineMsLeadAccessorReportApprover.level}}</iap-info-label>              
            </div> 
            <div>
                <iap-label>FC Performance</iap-label>
                <iap-info-label>{{firstLineMsLeadAccessorReportApprover.fcPerformance}}</iap-info-label>
                <br>
                <button mat-raised-button class="mat-button-petronas-ghost-small">VIEW SUMMARY</button>
            </div>  
          </div>
      </div>
      <div class="status" *ngIf='firstLineMsLeadAccessorReportApprover'>
        <ng-container *ngIf="false">
          <h2 class="comply-status" [ngClass]="{
            positive: false,
            negative: true
          }">
            NOT COMPLY
          </h2>
        </ng-container>
        <ng-container *ngIf="true">
          <iap-label>Overall Assessment Rating</iap-label>
          <h4 class="rating">{{firstLineMsLeadAccessorReportApprover.overrallAssessmentRating}}</h4>
          <button mat-raised-button>+ ADD FINDING</button>
        </ng-container>
      </div>
      <div class="action" *ngIf='firstLineMsLeadAccessorReportApprover'>
        <button mat-mini-fab color="primary" (click)="toggleCard()">
          <mat-icon *ngIf="isExpand">keyboard_arrow_up</mat-icon>
          <mat-icon *ngIf="!isExpand">keyboard_arrow_down</mat-icon>
        </button>
      </div>

      <div class="description" *ngIf='firstLineMsCapApproverView'>
          <div class="section" *ngFor="let section of firstLineMsCapApproverView?.listSections" >
              <span class="number">{{section.referenceNumber}}</span>
              <span class="content">{{section.description}}</span>
          </div>
          <div class="question-ms" *ngFor="let question of firstLineMsCapApproverView?.listQuestions">
              <span class="number">{{question?.referenceNumber}}</span>
              <span class="content">{{question?.description}}</span>
          </div>       
      </div> 
      <div class="info" *ngIf='firstLineMsCapApproverView'>
        <ng-container *ngIf="true">
          <div class="fx-row wrap items-2">
            <div>
              <iap-label>Total Findings</iap-label>
              <iap-info-label>{{firstLineMsCapApproverView.totalFindings}}</iap-info-label>
            </div>
            <div>
              <iap-label>Total Action Items</iap-label>
              <iap-info-label>{{firstLineMsCapApproverView.totalActionItems}}</iap-info-label>
            </div>
          </div>
        </ng-container>
        <div class="fx-row wrap items-2">
          <div>
            <iap-label>Level</iap-label>
            <iap-info-label>{{firstLineMsCapApproverView.level}}</iap-info-label>
          </div>
          <div>
            <iap-label>FC Performance</iap-label>
            <iap-info-label>{{firstLineMsCapApproverView.fcPerformance}}</iap-info-label>
            <!-- <button mat-raised-button class="mat-button-petronas-ghost-small">VIEW SUMMARY</button> -->
          </div>
        </div>
      </div>
      <div class="status" *ngIf='firstLineMsCapApproverView'>
        <ng-container *ngIf="false">
          <h2 class="comply-status" [ngClass]="{
            positive: false,
            negative: true
          }">
            NOT COMPLY
          </h2>
        </ng-container>
        <ng-container *ngIf="true">
          <iap-label>Overall Assessment Rating</iap-label>
          <h4 class="rating">{{firstLineMsCapApproverView.overrallAssessmentRating}}</h4>
          <!-- <button mat-raised-button>+ ADD FINDING</button> -->
        </ng-container>
      </div>
      <div class="action" *ngIf='firstLineMsCapApproverView'>
        <button mat-mini-fab color="primary" (click)="toggleCard()">
          <mat-icon *ngIf="isExpand">keyboard_arrow_up</mat-icon>
          <mat-icon *ngIf="!isExpand">keyboard_arrow_down</mat-icon>
        </button>
      </div>

<!-- <div class="description" *ngIf="checklistItemFC"></div> -->
<div class="description"  *ngIf="checklistItemFC">
  <div class="section" *ngFor="let section of checklistItemFC?.listSections" >
    <span class="number">{{section.referenceNumber}}</span>
    <span class="content">{{section.description}}</span>
  </div>
  <div class="question">
    <span class="number">{{checklistItemFC?.questionReferenceNumber}}</span>
    <span class="content">{{checklistItemFC?.questionName}}</span>
  </div>
</div>
<div class="info"  *ngIf="checklistItemFC">
  <ng-container *ngIf="true">
    <div class="fx-row wrap items-2">
      <div>
        <iap-label>Total Findings</iap-label>
        <iap-info-label>{{checklistItemFC?.totalFindings}}</iap-info-label>
      </div>
      <div>
        <iap-label>Total Action Items</iap-label>
        <iap-info-label>{{checklistItemFC?.totalActionItems}}</iap-info-label>
      </div>
    </div>
  </ng-container>
</div>
<div class="status"  *ngIf="checklistItemFC">
  <ng-container *ngIf="true">
    <h2 class="comply-status" [ngClass]="{
      positive: false,
      negative: true
    }">
      {{checklistItemFC?.compliance}}
    </h2>
  </ng-container>
</div>
<div class="action"  *ngIf="checklistItemFC">
  <button mat-mini-fab color="primary" (click)="toggleCard()">
    <mat-icon *ngIf="isExpand">keyboard_arrow_up</mat-icon>
    <mat-icon *ngIf="!isExpand">keyboard_arrow_down</mat-icon>
  </button>
</div> 
