<iap-dialog-header>
  <h2>REQUEST DUE DATE EXTENSION</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</iap-dialog-header>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="due-date-container">
      <div class="detail">
        <div class="current">
          <iap-label>Current Due Date</iap-label>
          <p>{{dueDate | date: 'dd MMM yyyy'}}</p>
        </div>

        <mat-form-field>
          <input matInput formControlName="dueDateRequest" [matDatepicker]="dueDateRequest" placeholder="New Due Date Request" required>
          <mat-datepicker-toggle matSuffix [for]="dueDateRequest"></mat-datepicker-toggle>
          <mat-datepicker #dueDateRequest></mat-datepicker>
          <!-- <mat-error *ngIf="form.controls.dueDateRequest?.hasError('required')">
            {{message.ERROR_REQUIRED_FIELD}}
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="reasonRequestExtension" placeholder="Reason for extension" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" required>{{reasonRequestExtension}}</textarea>
            <!-- <mat-error *ngIf="form.controls.reasonRequestExtension?.hasError('required')">
              {{message.ERROR_REQUIRED_FIELD}}
            </mat-error> -->
        </mat-form-field>
      </div>
      <div class="action">
        <button mat-raised-button class="mat-button-lg" color="primary" mat-dialog-close (click)="onSave()">SAVE</button>
        <button mat-raised-button class="mat-button-lg mat-button-petronas-ghost" mat-dialog-close>CANCEL</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
