<iap-breadscrumb></iap-breadscrumb>
<iap-page-header>My Tasks</iap-page-header>
<iap-my-task-content>
  <div class="overdue">
    <iap-list-small-card-template>
      <iap-small-card-template *ngFor="let task of allTasks" [color]="'light-blue'">
        <header>
          <iap-card-status [time]="'18:30 19/2/2018'">{{task.recordStatus}}</iap-card-status>
          <iap-card-ref [name]="'Ref No'">{{task.referenceNo}}</iap-card-ref>
          <iap-card-title [name]="'Title'">{{task.title}}</iap-card-title>
        </header>
        <footer>
          <iap-card-nav [href]="[task.url,task.recordId]">{{task.requireAction}}</iap-card-nav>
          <iap-card-info-row>
            <iap-card-info [name]="'From'">{{task.from}}</iap-card-info>
            <iap-card-info [name]="'Due Date'">{{task.dueDate}}</iap-card-info>
          </iap-card-info-row>
        </footer>
      </iap-small-card-template>
    </iap-list-small-card-template>
  </div>

  <div class="pending ">
    <iap-list-small-card-template>
      <iap-small-card-template *ngFor="let task of allTasks" [color]="'light-blue'">
        <header>
          <iap-card-status [time]="'18:30 19/2/2018'">{{task.recordStatus}}</iap-card-status>
          <iap-card-ref [name]="'Ref No'">{{task.referenceNo}}</iap-card-ref>
          <iap-card-title [name]="'Title'">{{task.title}}</iap-card-title>
        </header>
        <footer>
          <iap-card-nav [href]="[task.url,task.recordId]">{{task.requireAction}}</iap-card-nav>
          <iap-card-info-row>
            <iap-card-info [name]="'From'">{{task.from}}</iap-card-info>
            <iap-card-info [name]="'Due Date'">{{task.dueDate}}</iap-card-info>
          </iap-card-info-row>
        </footer>
      </iap-small-card-template>
    </iap-list-small-card-template>
  </div>

  <div class="all">
    <iap-list-small-card-template>
      <iap-small-card-template *ngFor="let task of allTasks" [color]="'light-blue'">
        <header>
          <iap-card-status [time]="'18:30 19/2/2018'">{{task.recordStatus}}</iap-card-status>
          <iap-card-ref [name]="'Ref No'">{{task.referenceNo}}</iap-card-ref>
          <iap-card-title [name]="'Title'">{{task.title}}</iap-card-title>
        </header>
        <footer>
          <iap-card-nav [href]="[task.url,task.recordId]">{{task.requireAction}}</iap-card-nav>
          <iap-card-info-row>
            <iap-card-info [name]="'From'">{{task.from}}</iap-card-info>
            <iap-card-info [name]="'Due Date'">{{task.dueDate}}</iap-card-info>
          </iap-card-info-row>
        </footer>
      </iap-small-card-template>
    </iap-list-small-card-template>
  </div>
</iap-my-task-content>
