<form [formGroup]="form">
  <div class="detail row col-md-12">
    <div class="col-md-9  col-xs-12">
      <div class="col-md-12 row">
        <div class="col-md-6">
          <div class="description">
            <mat-form-field>
              <input formControlName="startDate" matInput [matDatepicker]="startDate" placeholder="Actual Start Date" required>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
              <mat-error *ngIf="startDateControl.hasError('required')">
                {{message.ERROR_REQUIRED_FIELD}}
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="col-md-6">
          <div class="description">
            <mat-form-field>
              <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="Actual End Date" required>
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
              <mat-error *ngIf="endDateControl.hasError('required')">
                {{message.ERROR_REQUIRED_FIELD}}
              </mat-error>
            </mat-form-field>
          </div>

        </div>

      </div>
      <div class="col-md-12 row date">
        <div class="col-md-6" *ngIf="assurancePlan?.isAssuranceTypeFc">
          <div class="description compliant-group">
            <div class="time">
              Summary Of Comliance
            </div>
            <div class="row">
              <div class="text col-md-8">
                No of Compliant
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
            <div class="row compliant-group">
              <div class="text col-md-8">
                No of Compliant
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
            <div class="row">
              <div class="text col-md-8">
                No of Compliant
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!assurancePlan?.isAssuranceTypeFc && !assurancePlan?.isSecondLine" class="col-md-6">
          <div class="description compliant-group">
            <div class="time">
              Summary Of Level
            </div>
            <div class="row">
              <div class="text col-md-8">
                No of Level 1:
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
            <div class="row compliant-group">
              <div class="text col-md-8">
                No of Level 2:
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
            <div class="row">
              <div class="text col-md-8">
                No of Level 3:
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
            <div class="row">
              <div class="text col-md-8">
                No of Level 4:
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
            <div class="row">
              <div class="text col-md-8">
                No of Level 5:
              </div>
              <div class="text col-md-2">
                (20%)
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="description">
            <div class="time">
              <span *ngIf="assurancePlan?.isAssuranceTypeFc">Overal Opinion Rating</span>
              <span *ngIf="!assurancePlan?.isAssuranceTypeFc && !assurancePlan?.isSecondLine">Assurance Month</span>
              <span *ngIf="assurancePlan?.isSecondLine">Assessment Rating</span>
            </div>
            <div class="detail">
              <span *ngIf="assurancePlan?.isAssuranceTypeFc">-</span>
              <span *ngIf="!assurancePlan?.isAssuranceTypeFc && !assurancePlan?.isSecondLine">August</span>
              <span *ngIf="assurancePlan?.isSecondLine">Effective</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12" *ngIf="assurancePlan?.isSecondLine && isLeadAssessor">
        <mat-form-field class="col-md-6 col-xs-12">
          <mat-select placeholder="Assessment Rating">
            <mat-option [value]="">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="!assurancePlan?.isSecondLine" class="col-md-12 row submitted" style="margin-top: 30px">
        <div class="col-md-6">
          <iap-label>Submitted By</iap-label>
          <iap-info-label>&lt;system autopopulate&gt;</iap-info-label>
          <button mat-raised-button class="mat-button-petronas-ghost-small btn-radius btn-rate-lead-assessor" (click)="openAssessorRatingDialog()">Rate lead assessor</button>
        </div>
        <div class="col-md-6">
          <iap-label>Submitted Date</iap-label>
          <iap-info-label>&lt;system autopopulate&gt;</iap-info-label>
        </div>
      </div>

      <div *ngIf="assurancePlan?.isAssuranceTypeFc" class="col-md-12 row approve" style="margin-top: 30px">

        <div class="col-md-6">
          <iap-label>Approved By</iap-label>
          <iap-people-picker [getForId]="assurancePlan.approvedBy" #ppApprover defaultRole="ReportApprover" [isRequire]="true" placeholder="Approver"
            (selectedUserChange)="approver = $event"></iap-people-picker>
        </div>

        <div class="col-md-6">
          <iap-label>Acknowledge By</iap-label>
          <iap-people-picker [getForId]="assurancePlan.acknowledgedBy" #ppHead defaultRole="HeadOfDepartment" [isRequire]="true"
            placeholder="Head Of Department" (selectedUserChange)="headOfDepartment = $event"></iap-people-picker>
        </div>
      </div>

      <div *ngIf="!assurancePlan?.isSecondLine" class="col-md-12 row action-party" style="margin-top: 30px">
        <div class="col-md-6">
          <iap-label>Action Party's Departments</iap-label>
          <iap-info-label>&lt;system autopopulate&gt;</iap-info-label>
        </div>

        <div class="col-md-6">
          <iap-label>Action Party's Department HOD</iap-label>
          <iap-info-label>&lt;system autopopulate&gt;</iap-info-label>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 30px">

        <div *ngIf="!assurancePlan?.isAssuranceTypeFc" class="col-md-6">
          <iap-label>Lead Assessor</iap-label>
          <iap-info-label>&lt;system autopopulate&gt;</iap-info-label>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-xs-12">
      <div class="btn-group">
        <div *ngIf="!isSubmitter && !isApAssigner" class="detail-action">
          <button mat-raised-button (click)="openAssessorRatingDialog()" color="primary">SUBMIT</button>
        </div>
        <div *ngIf="isApAssigner" class="detail-action">
          <button mat-raised-button (click)="openAssessorRatingDialog()" color="primary" disabled>CONFIRM ASSIGNMENT</button>
        </div>
        <span *ngIf="isLeadAssessor">Submit Findings & Action Items 0 of 2 complete</span>
        <span *ngIf="isApprover">Approve Findings & Action Items 0 of 2 complete</span>
        <span *ngIf="isApAssigner">Assign Action Party 0 of 2 complete</span>
        <div class=" detail-action">
          <button mat-raised-button *ngIf="!isSubmitter" class="btn-ghost petronas" (click)="saveProgress()">SAVE PROGRESS</button>
        </div>
        <div class="detail-action">
          <button mat-raised-button *ngIf="isLeadAssessor && !isFC" class="btn-ghost petronas">PREVIEW MEMO</button>
        </div>
      </div>

      <div *ngIf="isSubmitter" class="btn-group">
        <div class="detail-action">
          <button mat-raised-button id="edit" class="btn-ghost petronas">EDIT</button>
        </div>

      </div>

    </div>
  </div>
</form>




<!-- ***********************CARD ITEM************************* -->
