@import 'variable';
@import 'variable.color';
$planned-label-width: 60px;
$planned-label-gap: 16px;
$planned-header-label-width: 50px;
.btn-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  .detail-action {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    >button {
      width: 80%;
      padding: 10px 25px;
    }
    #edit {
      width: 80%;
      background-color: $color-petronas !important;
      color: white !important;
    }
  }
  >span {
    font-size: 85%;
    color: rgba(0, 0, 0, 0.68);
    margin-bottom: 20px;
  }
}
.row {
    display: flex;
    justify-content: space-between;
}


