<iap-box class="normal-border">
  <div class="detail">
    <form [formGroup]="form">
      <div class="detail row col-md-12">
        <div class="col-md-9 col-xs-12">
          <div class="row">
            <mat-form-field class="col-md-5">
              <input matInput formControlName="refNo" placeholder="Reference Number" />
            </mat-form-field>
            <mat-form-field class="col-md-5">
              <input matInput formControlName="title" placeholder="Assurance / Audit Title" />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-5">
              <mat-select formControlName="assuranceLineId" (selectionChange)="onLineChange($event)" placeholder="Assurance Line">
                <mat-option *ngFor="let item of assuranceFilter?.mdAssuranceLines" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-5">
              <mat-select formControlName="opuOrCompanyId" placeholder="OPU / Company">
                <mat-option *ngFor="let item of assuranceFilter?.mdEnterprises" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>

            </mat-form-field>

          </div>
          <div class="row">
            <mat-form-field class="col-md-5">
              <mat-select formControlName="riskAreaId" placeholder="Risk Area" (selectionChange)="onRiskAreaChange($event)">
                <mat-option *ngFor="let item of assuranceFilter?.mdRiskArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field class="col-md-5">
              <mat-select formControlName="departmentId" placeholder="Department">
                <mat-option>Please select</mat-option>
                <mat-option [value]="item.id" *ngFor="let item of lstDepartment">{{item.name}}</mat-option>
              </mat-select>

            </mat-form-field>

          </div>
          <div class="row">
            <mat-form-field class="col-md-5">
              <mat-select formControlName="assuranceTypeId" placeholder="Assurance Type" (selectionChange)="onAssuranceTypeChange($event)">
                <mat-option [value]="item.id" *ngFor="let item of assuranceFilter?.mdAssuranceType">{{item.name}}</mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field class="col-md-5">
              <input matInput formControlName="year" placeholder="Year" />

            </mat-form-field>

          </div>
          <div class="row">
            <mat-form-field class="col-md-5">
              <mat-select formControlName="checklistId" placeholder="Checklist">
                <mat-option *ngFor="let item of assuranceFilter?.mdChecklist" [value]="item.id">{{item.title}}</mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field class="col-md-5">
              <mat-select formControlName="monthFrom" placeholder="Month (from)">
                <mat-option *ngFor="let item of lstMonth" [value]="item.value">{{item.display}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-5">
              <mat-select formControlName="assuranceProviderId" placeholder="Assurance Provider">
                <mat-option *ngFor="let item of assuranceFilter?.mdAssuranceProvider" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-5">
              <mat-select formControlName="monthTo" placeholder="Month (to)">
                <mat-option *ngFor="let item of lstMonth" [value]="item.value">{{item.display}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="row">
            <div class="col-md-5">
              <iap-people-picker (selectedUserChange)="onTeamLeadSelect($event)" defaultRole="TeamLead" placeholder="Select Team Lead"></iap-people-picker>
            </div>
            <mat-form-field class="col-md-5">
              <input matInput [matDatepicker]="endDate" formControlName="assuranceEndDate" placeholder="Assurance End Date (to)">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="row">
            <div class="col-md-5">
              <iap-people-picker (selectedUserChange)="onLeadAssessorSelect($event)" defaultRole="LeadAssessor" placeholder="Select Lead Assessor"></iap-people-picker>
            </div>
            <mat-form-field class="col-md-5">
              <input matInput [matDatepicker]="startDate" formControlName="assuranceStartDate" placeholder="Assurance Start Date (from)">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="row">
            <div class="col-md-5">
              <iap-people-picker (selectedUserChange)="onAssessorSelect($event)" defaultRole="Assessor" placeholder="Select Assessor / Auditor"></iap-people-picker>
            </div>
            <mat-form-field class="col-md-5">
              <mat-select formControlName="locationId" placeholder="Location">
                <mat-option *ngFor="let item of assuranceFilter?.mdLocation" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>

            </mat-form-field>

          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="btn-group">
            <div class="detail-action">
              <button mat-raised-button color="primary" (click)="onSearchClick()">SEARCH</button>
            </div>
            <div class="detail-action">
              <button mat-raised-button class="mat-button-petronas-ghost" (click)="onCancelClick()">CANCEL</button>
            </div>
            <div class="detail-action">
              <button mat-raised-button class="mat-button-petronas-ghost" (click)="onResetClick()">RESET</button>
            </div>
          </div>

          <div *ngIf="false" class="btn-group">
            <div class="detail-action">
              <button mat-raised-button id="edit" class="btn-ghost petronas">EDIT</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</iap-box>