<iap-breadscrumb></iap-breadscrumb>
<iap-progress-bar-small></iap-progress-bar-small>
<iap-page-header>Department AAP Item</iap-page-header>
<iap-box class="none-shadow bottom-bordered thin page-header">
  <div class="fx-row wrap items-3">
    <iap-card-ref [name]="'Reference No'">{{deptAAPItem.referenceNo}}</iap-card-ref>
    <iap-card-info [name]="'Assurance Category'">Planned Assurance</iap-card-info>
    <iap-card-info [name]="'Status'">{{deptAAPItem.status}}</iap-card-info>
  </div>
  <div class="fx-row wrap items-3">
    <iap-card-info [name]="'Assurance Year'">{{deptAAPItem.year}}</iap-card-info>
    <iap-card-info [name]="'Assurance Line'">First Line</iap-card-info>
  </div>
</iap-box>
<iap-box class="none-shadow">

  <iap-dept-aap-item-detail-content>
    <div class="tab detail-tab">
      <form [formGroup]="form">

        <iap-form-layout-template>

          <div class="main-content">
            <mat-form-field class="full-width">
              <textarea matInput 
              formControlName ="title"
              required placeholder="Assurance Title"
               matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
               <mat-error *ngIf="form.controls.title?.hasError('required')">
                  {{message.ERROR_REQUIRED_FIELD}}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
              <textarea matInput 
              formControlName="description"
              required placeholder="Assurance Description"
               matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
               <mat-error *ngIf="form.controls.description?.hasError('required')">
                  {{message.ERROR_REQUIRED_FIELD}}
                </mat-error>
            </mat-form-field>

            <div class="fx-row wrap items-2">
              <mat-form-field>
                <mat-select formControlName="assuranceTypeId" placeholder="Assurance Type" (selectionChange)="onAssuranceTypeChange($event)" required>
                  <mat-option *ngFor="let item of deptAAPItem.assuranceTypes" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.assuranceTypeId?.hasError('required')">
                    {{message.ERROR_REQUIRED_FIELD}}
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="locationId" placeholder="Location" required>
                    <mat-option *ngFor="let item of deptAAPItem.locations" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.locationId?.hasError('required')">
                    {{message.ERROR_REQUIRED_FIELD}}
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="fx-row wrap items-2">
                <mat-form-field>
                    <mat-select formControlName="riskAreaId" placeholder="Risk Area" (selectionChange)="onRiskAreaChange($event)" required>
                        <mat-option *ngFor="let item of deptAAPItem.riskAreas" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.riskAreaId?.hasError('required')">
                        {{message.ERROR_REQUIRED_FIELD}}
                      </mat-error>
                  </mat-form-field>
              <div>
                <mat-form-field class="full-width">
                  <mat-select formControlName ="checklistId" placeholder="Checklist" required>
                    <mat-option *ngFor="let option of deptAAPItem.checklists" [value]="option.id">{{ option.title }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls.checklistId?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button class="mat-button-petronas-ghost-small">VIEW CHECKLIST</button>
              </div>
            </div>
            <iap-label x-large-text wide-margin>Assurance Frequency</iap-label>
            <div class="fx-row wrap items-2">
                <iap-card-info [name]="'PTS Requirement'">{{deptAAPItem.ptsRequirement}} per {{deptAAPItem.frequency}}</iap-card-info>
                <iap-card-info [name]="'OPU Requirement'">{{deptAAPItem.opuRequirement}} per {{deptAAPItem.frequency}}</iap-card-info>
            </div>
            <div class="fx-row wrap items-2">
              <mat-form-field>
                  <input matInput formControlName ="numberOfPlan" placeholder="No of plans" required iapInputNumber>
                  <mat-hint>per {{deptAAPItem.frequency}}</mat-hint>
                  <mat-error *ngIf="form.controls.numberOfPlan?.hasError('required')">
                      {{message.ERROR_REQUIRED_FIELD}}
                    </mat-error>
                  <mat-error *ngIf="form.controls.numberOfPlan?.hasError('numOfPlanValidate')">
                      Value should be equal or greater than default value
                  </mat-error>
              </mat-form-field>
            </div>
            <iap-label x-large-text wide-margin>Planned Assurance</iap-label>
            <div class="planned-assurance-container">
              <div class="frequency-plan-header">
                <div class="month-header" *ngFor="let month of months">
                  <label>{{month}}</label>
                </div>
              </div>
              <div class="frequency-plan">
                <label>Per Month</label>
                <div class="frequency-container">
                  <div class="monthly-plan" *ngFor="let monthly of monthlyFrequency; let i = index; trackBy:trackPlanByIndex">
                    <mat-form-field>
                      <input matInput [value]="monthly" [(ngModel)]="monthlyFrequency[i]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPlanChange($event)"
                        required iapInputNumber>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div *ngIf="isFrequencyYearly()" class="frequency-plan annual">
                <label>Per Year</label>
                <div>
                  <label [class.is-met]="isAnnualMetMinimum(annualFrequency)">{{annualFrequency}}</label>
                </div>
              </div>
              <div *ngIf="!isFrequencyYearly()" class="frequency-plan quarterly">
                <label>Per Quarter</label>
                <div class="frequency-container">
                  <div class="quarterly-plan" *ngFor="let quarterly of quarterlyFrequency; let i = index">
                    <label [class.is-met]="isQuarterMetMinimum(quarterly, i)">{{quarterly}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="action">

            <button mat-raised-button color="primary" class="mat-button-lg" (click)="save()">SAVE</button>
            <button mat-raised-button class="mat-button-petronas-ghost" (click)="location.back()">CANCEL</button>
          </div>
        </iap-form-layout-template>
    </form>
  </div>
    
    <div class="tab workflow-tab"></div>
  </iap-dept-aap-item-detail-content>
</iap-box>
