<iap-small-card-template [color]="'action-item'">
  <header>
    <iap-card-status (deleteItem)="handleDeleteItem(data?.id)"></iap-card-status>
    <iap-card-ref [name]="'Ref No'">{{data?.ref}}</iap-card-ref>
    <iap-card-info [name]="'Assurance Provider'">{{data?.assuranceProvider}}</iap-card-info>
  </header>
  <footer>
    <iap-card-nav-icon-row>
      <iap-card-info [name]="'AP Head'">{{data?.apHeadName}}</iap-card-info>
      <iap-card-info [name]="'AP Focal Person'">{{data?.apFocalName}}</iap-card-info>
    </iap-card-nav-icon-row>
    <iap-card-nav-icon-row>
      <iap-card-info [name]="'Created'">{{data?.createdAt | date: 'dd MMM yyyy'}}</iap-card-info>
      <iap-card-nav-icon [href]="'/web/annual-assurance-plan/assurance-plan/' + assurancePlanId + '/apd/edit/' + data.id"></iap-card-nav-icon>
    </iap-card-nav-icon-row>
  </footer>
</iap-small-card-template>
