<iap-dialog-header>
  <h2>ADD PROGRESS UPDATE</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</iap-dialog-header>
<mat-dialog-content>
  <iap-form-layout-template *ngIf="this.actionItemProgress">
    <div class="main-content">
      <div class="fx-row wrap items-2">
        <div>
          <iap-card-info [name]="'Completion Status'">{{actionItemProgress?.completionStatus}}</iap-card-info>
        </div>
        <div>
          <iap-card-info [name]="'Progress Update Date'">{{actionItemProgress?.progressUpdateDate}}</iap-card-info>
        </div>
      </div>
      <div class="full-width">
        <iap-card-info [name]="'Completion Percentage'">{{actionItemProgress?.completionPercentage}}</iap-card-info>
        <iap-card-info [name]="'Progress Remark'">{{actionItemProgress?.remark}}</iap-card-info>
      </div>
      <iap-label>Progress Update Attachments ({{actionItemProgress?.attachmentsCount}})</iap-label>
      <div class="attachment-container">
        <iap-attachment (afterUpload)="handleAfterUpload($event)" (afterDelete)="handleAfterDelete($event)" [listAttachmentId]="listAttachmentId"></iap-attachment>
      </div>
    </div>
    <div class="action">
      <button mat-raised-button class="mat-button-petronas-ghost" mat-dialog-close>CANCEL</button>
    </div>
  </iap-form-layout-template>

  <form [formGroup]="form" *ngIf="!this.actionItemProgress">
    <iap-form-layout-template>
      <div class="main-content">
        <div class="fx-row wrap items-2">
          <mat-form-field>
            <mat-select formControlName="completionStatus" (selectionChange)="onchangeStatus($event)" placeholder="Completion Status">
              <mat-option [value]="'Open'">Open</mat-option>
              <mat-option [value]="'Completed'">Completed</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <iap-label>Progress Update Date</iap-label>
            <iap-info-label>{{form.controls.progressUpdateDate.value | date:'dd-MM-yyyy'}}</iap-info-label>
          </div>
        </div>
        <div class="fx-row wrap items-2">
          <mat-form-field>
            <input formControlName="completionPercentage" matInput placeholder="Completion Percentage">
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <textarea formControlName="remark" matInput placeholder="Progress Remark" required matTextareaAutosize matAutosizeMinRows="3"
            matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <iap-attachment (afterUpload)="handleAfterUpload($event)" (afterDelete)="handleAfterDelete($event)" [listAttachmentId]="listAttachmentId"></iap-attachment>
      </div>
      <div class="action">
        <button mat-raised-button color="primary" class="mat-button-lg" (click)="onSubmit()">SAVE</button>
        <button mat-raised-button class="mat-button-petronas-ghost" mat-dialog-close>CANCEL</button>
      </div>
    </iap-form-layout-template>
  </form>
</mat-dialog-content>