:host {
  display: flex;
}

.findings-action {
  flex-basis: 70%;
}

.action {
  flex-grow: 1;
}

.findings-row {
  display: flex;
  .findings {
    flex-basis: 80%;
    padding-right: 16px;
    margin-bottom: 16px;
  }
  .action-items {
    flex-grow: 1;
  }
}

mat-radio-group {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 16px;
}
