<div class="findings-action">
  <div class="findings-row">
    <div class="findings">
      <iap-label>Findings ({{checklistItemFC?.totalFindings}})</iap-label>
    </div>
    <div class="action-items">
      <iap-label>Action Item(s)</iap-label>
    </div>
  </div>

  <div class="findings-row" *ngFor="let finding of checklistItemFC?.listFindings">
    <div class="findings">
      <a class="pet-link" [routerLink]="'/web/annual-assurance-plan/assurance-plan/checklist/findings/detail/' + finding.id">{{finding.description}} </a>
    </div>
    <div class="action-items">
      <iap-info-label>{{finding.actionItemNumber}}</iap-info-label>
    </div>
  </div>

  <div class="findings-row">
    <div class="findings">
      <a class="pet-link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem maxime quod rem harum soluta quaerat!</a>
    </div>
    <div class="action-items">
      <iap-info-label>3</iap-info-label>
    </div>
  </div>
</div>
<div class="action">
  <iap-label wide-margin>Approve this item?</iap-label>
  <mat-radio-group>
    <mat-radio-button color="primary" value="Approve">Approve</mat-radio-button>
    <mat-radio-button color="warn" value="Revert">Revert</mat-radio-button>
  </mat-radio-group>
  <iap-label>Remarks</iap-label>
  <iap-label>(this field is compulsory if 'Revert' is selected)</iap-label>
  <mat-form-field class="full-width">
    <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5"></textarea>
  </mat-form-field>
</div>
