<iap-box class="left-bordered gold">
  <div class="header">
    <p class="name">
      <i class="material-icons">person</i>
      <span [matTooltip]="data?.resourceName">{{data?.resourceName}}</span>
    </p>
    <div class="ref-list-container">
      <p class="ref-list" *ngFor="let item of data?.listItem">
        <a [routerLink]="'/web/annual-assurance-plan/dept-aap-item-detail/' + item.id">{{item.refNo}} ></a>
      </p>
    </div>
  </div>
  <div class="content">
    <div class="month-data" *ngFor="let month of months; let i = index">
      <div class="month-name">
        <span>{{month}}</span>
      </div>
      <div class="data">
        <strong *ngIf="data?.listTaskCount[i] === 0">-</strong>
        <strong *ngIf="data?.listTaskCount[i] !== 0" [ngClass]="{
          'positive':data?.listTaskCount[i] <= 10,
          'negative':data?.listTaskCount[i] > 10}">
          {{data?.listTaskCount[i]}}
        </strong>
      </div>
    </div>
  </div>
</iap-box>
