<div class="header col-md-12">
    <div class="title"> AAM Settings List:
      <span> 3 item</span>
      <button mat-raised-button class="mat-button-ghost">
        <mat-icon>add</mat-icon>
        <span>ADD NEW</span>
      </button>
    </div>
  </div>

<table>
  <thead>
    <tr>
      <td>Select</td>
      <td>Department</td>
      <td>Assurance Line</td>
      <td>Select</td>
      <td>Select</td>
      <td>Select</td>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>Select</td>
          <td>Department</td>
          <td>Assurance Line</td>
          <td>Select</td>
          <td>Select</td>
          <td>Select</td>
        </tr>
  </tbody>
</table>
