@import 'mixin';
@import 'variable';
:host {
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-gap: 16px;
  width: 100%;
  &.col-70-30 {
    grid-template-columns: 70% 1fr;
  }
  ::ng-deep {
    >.main-content {
      grid-column: 1;
      @include mediaIEOnly {
        margin-right: 16px;
      }
    }
    >.action {
      grid-column: 2;
    }
  }
  @include responsive(xs) {
    grid-template-columns: 100% !important;
    grid-template-rows: auto auto;
    ::ng-deep {
      >.main-content {
        grid-column: 1;
        grid-row: 1;
      }
      >.action {
        grid-column: 1;
        grid-row: 2;
      }
    }
  }
}
