
.select-box{
  display: flex;
  justify-content: space-between;
  .mat-form-field{
    width: 600px;
  }
}
.filter-box{
  .form-control{
    width: 80%;
  }
  .action{
    display: flex;
    justify-content: flex-end;
     >button{
      margin: 10px;
    }
  }
}
