<!-- <button mat-raised-button>
  <a routerLink="/web/annual-assurance-plan/summary/calendar">Calendar</a>
</button>
<button mat-raised-button>
  <a routerLink="/web/annual-assurance-plan/summary/submission">Submission</a>
</button>

<a routerLink="/web/annual-assurance-plan/summary/resource">
  <button mat-raised-button>RESOURCE</button>
</a>
<a routerLink="/web/annual-assurance-plan/summary/calendar">
  <button mat-raised-button>CALENDAR</button>
</a>
<a routerLink="/web/annual-assurance-plan/summary/submission">
  <button mat-raised-button>SUBMISSION</button>
</a> -->
<div class="select-box">
  <mat-form-field>
    <mat-select placeholder="Manage master data" [(value)]="selectedValue" name="selectedValue">
      <mat-option *ngFor="let masterdata of manageList" [value]="masterdata.value">
        {{masterdata.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder="OPU" name="OPUValue">
      <mat-option>OPU 1</mat-option>
      <mat-option>OPU 2</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<!-- <iap-box class="normal-bordered">
  <div class="filter-box">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form-control">
          <input matInput placeholder="Name" value="">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form-control">
          <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-checkbox>Active</mat-checkbox>
      </div>
    </div>
    <div class="action">
        <button mat-raised-button class="btn-ghost petronas">Reset</button>
        <button mat-raised-button class="btn-ghost petronas">Search</button>
    </div>
  </div>
</iap-box> -->
<div class="content" [ngSwitch]="selectedValue">
  <div *ngSwitchCase="'data1'">
    <iap-assurance-plan-frequency></iap-assurance-plan-frequency>
  </div>
  <div *ngSwitchCase="'assurance-line'">
    <iap-box class="normal-bordered">
      <iap-assurance-line></iap-assurance-line>
    </iap-box>
  </div>
  <div *ngSwitchCase="'annual-plan'">
    <iap-box class="normal-bordered">
      <iap-annual-plan></iap-annual-plan>
    </iap-box>
  </div>
  <div *ngSwitchCase="'aam-setting'">
      <iap-box class="normal-bordered">
        <iap-aam-settings></iap-aam-settings>
      </iap-box>
    </div>
    <div *ngSwitchCase="'checklist-department-mapping'">
        <iap-box class="normal-bordered">
          <iap-checklist-department-mapping></iap-checklist-department-mapping>
        </iap-box>
      </div>
    
  <div *ngSwitchCase="'access-right'">
    <iap-box class="normal-bordered">
      <iap-access-right></iap-access-right>
    </iap-box>
  </div>
  <div *ngSwitchCase="'create-opu'">
        <iap-create-opu-mannual></iap-create-opu-mannual>
  </div>
</div>