<iap-dialog-header>
  <h2>Address Book</h2>
  <button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</iap-dialog-header>
<mat-dialog-content>
  <div class="content">
    <mat-form-field class="full-width">
      <input matInput placeholder="Search" cdkFocusInitial [(ngModel)]="keyword">
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon (click)="search()">search</mat-icon>
    </button>
  </div>

  <div class="result">
    <div *ngIf="filterBy !== 3">
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
        <!-- id -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- opuId -->
        <ng-container matColumnDef="opuId">
          <mat-header-cell *matHeaderCellDef> Opu Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.opu.id}} </mat-cell>
        </ng-container>

        <!-- opuName -->
        <ng-container matColumnDef="opuName">
          <mat-header-cell *matHeaderCellDef> Opu Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.opu.name}} </mat-cell>
        </ng-container>

        <!-- opuName -->
        <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef> Departmnet </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
          </ng-container>

        <!-- full name -->
        <ng-container matColumnDef="displayName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
        </ng-container>

        <!-- email -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- roles -->
        <ng-container matColumnDef="userRoles">
          <mat-header-cell *matHeaderCellDef> Role(s) </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.userRoles}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngClass]="{selected: row == selectedRow}" *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
          (dblclick)="selectRow(row);onReturnData()"></mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageChange($event)">
      </mat-paginator>
    </div>
    <footer>
      <button mat-raised-button mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" [disabled]="selectedRow == null" (click)="onReturnData()">Select</button>
    </footer>
  </div>
</mat-dialog-content>
