<iap-assurance-plan-filter [hidden]="!isShowFilter"
 (searchClick)="searchClick($event)"
 (cancelClick)="onCancelClick()"
 (resetClick)="onResetClick()"
 ></iap-assurance-plan-filter>
<div class="header col-md-12">
  <div class="title"> Results:
    <span> {{assurancePlans.length}} item(s)</span>
    <button (click)="openAssurancePlan()" mat-raised-button class="mat-button-ghost">
      <mat-icon>add</mat-icon>
      <span>ADD NEW PLAN</span>
    </button>
  </div>
  <div class="action">
    <a>
      <button mat-raised-button class="mat-button-petronas-ghost-small">Sort</button>
      <button (click)="showFilter()" mat-raised-button class="mat-button-petronas-ghost-small">Filter</button>
    </a>
  </div>
</div>
<iap-list-small-card-template>
  <iap-ap (onDeleteClick)="onDelete(item)" *ngFor="let item of assurancePlans" [assurance]="item"></iap-ap>
</iap-list-small-card-template>
<div *ngIf="assurancePlans?.length > 0">
  <iap-pagination-template (onPagingClick)="pagingClick($event)" [pager]="pager"></iap-pagination-template>
</div>
