<div class="detail">
  <iap-label>Action Item</iap-label>
  <nav>
      <!-- web/annual-assurance-plan/assurance-plan/checklist/findings/detail/088aeb91-8ae5-4d95-9207-ad33dc4045bd/action-item/063736b1-654c-4f26-a251-5b05ef87dc61 -->
      <!-- <a class="pet-link" [routerLink]="'/web/annual-assurance-plan/assurance-plan/checklist/findings/detail/' + checklistCapActionItem.id"> -->
        <a class="pet-link" [routerLink]="'/web/annual-assurance-plan/assurance-plan/checklist/findings/detail/' + checklistCapActionItem.findingId + '/action-item/'+checklistCapActionItem.id">
        {{checklistCapActionItem.description}}
      </a>
  </nav>
</div>
<div class="action">
  <ng-container *ngIf="true">
    <iap-label>Endorse this item?</iap-label>
    <mat-radio-group>
      <mat-radio-button color="primary" checked value="1">Endorse</mat-radio-button>
      <mat-radio-button color="warn" value="2">Revert</mat-radio-button>
    </mat-radio-group>
  </ng-container>
  <ng-container *ngIf="false">
    <iap-label>Approve this item?</iap-label>
    <mat-radio-group>
      <mat-radio-button color="primary" value="1">Approve</mat-radio-button>
      <mat-radio-button color="warn" checked value="2">Revert</mat-radio-button>
    </mat-radio-group>
  </ng-container>
  <iap-label>Remarks</iap-label>
  <iap-label>(this field is compulsory if 'Revert is selected')</iap-label>
  <mat-form-field class="full-width">
    <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5">{{checklistCapActionItem.remark}}</textarea>
  </mat-form-field>
</div>
