<iap-list-header-row>
  <iap-list-header [name]="'List Assurance Provider:'">
    <span class="item-count">{{assuranceProviders?.length}} item(s)</span>
    <a [href]="'/web/annual-assurance-plan/assurance-plan/' + assurancePlanId + '/apd/create'">
      <button mat-raised-button class="mat-button-petronas-ghost">+ ADD ASSURANCE PROVIDER</button>
    </a>
  </iap-list-header>
</iap-list-header-row>
<hr>
<iap-list-small-card-template>
  <iap-apd [data]="ap" [assurancePlanId]="assurancePlanId" *ngFor="let ap of assuranceProviders" (onDeleteClick)="onDelete(ap)"></iap-apd>
</iap-list-small-card-template>
