<div class="findings-items">
    <div class="findings">
      <iap-label wide-margin>Findings</iap-label>
      <a class="pet-link">{{finding?.description}}</a>
    </div>
    <div class="action-items">
      <iap-label wide-margin>Action Items ({{finding?.numberActionItems}})</iap-label>
      
      <div class="action-row" *ngFor="let actionItem of finding?.listActionItems">
        <div class="link">
          <a class="pet-link">{{actionItem?.description}}</a>
        </div>
        <div class="assign">
          <div class="fx-row wrap items-2">
            <iap-people-picker [getForId]="actionItem?.actionPartyUserId" defaultRole="ActionParty" placeholder="Action Party Name" (selectedUserChange)="actionParty = $event"></iap-people-picker>
            <iap-label wide-margin>{{actionItem?.actionVerifierDisplayName}}</iap-label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>