<iap-label>{{time}}</iap-label>
<div>
  <span [matTooltip]="toolTip" #statusContent>
    <ng-content></ng-content>
  </span>
  <div *ngIf="disableAction == false">
    <button mat-icon-button iapToggleSiblingPopup [animation]="'down'" #toggle="toggleSibling">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div class="action">
      <ul>
        <li>
          <button mat-button (click)="handleDeleteButtonClick(toggle)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>
