<iap-breadscrumb></iap-breadscrumb>
<iap-page-header>Action Item Detail</iap-page-header>
<iap-box class="none-shadow">
  <iap-form-layout-template>
    <div class="main-content" *ngIf="false">
      <iap-card-ref [name]="'Action Item Ref No'">{{action?.ref}}</iap-card-ref>
      <iap-card-info class="no-elipsis" [name]="'Action Item Description'">{{action?.description}}</iap-card-info>
      <iap-card-info-row>
        <iap-card-info [name]="'Action Item Status'">Open</iap-card-info>
        <iap-card-info [name]="'Priority'">{{action?.priority}}</iap-card-info>
      </iap-card-info-row>
      <iap-card-info-row>
        <iap-card-info [name]="'Action Party'">{{action?.actionParty?.displayName}}</iap-card-info>
        <iap-card-info [name]="'Action Verifier'">{{action?.actionVerifier?.displayName}}</iap-card-info>
      </iap-card-info-row>
      <div class="due-date">
        <iap-card-info [name]="'Due Date'">{{action?.dueDate | date:'dd MMM yyyy'}}</iap-card-info>
        <button *ngIf="true" mat-raised-button class="mat-button-petronas-ghost-small" (click)="requestExtension()">
          REQUEST DUE DATE EXTENSION
        </button>
      </div>
      <hr>
      <div class="action-attachment">

        <iap-attachment (beforeUpload)="handleBeforeUpload($event)" (afterUpload)="handleAfterUpload($event)" (afterDelete)="handleAfterDelete($event)"
          [listAttachmentId]="listAttachmentId"></iap-attachment>

      </div>
    </div>
    <div class="main-content">
      <form [formGroup]="actionForm">
        <iap-card-ref [name]="'Action Item Ref No'">{{action?.ref}}</iap-card-ref>
        <div class="fx-row">
          <mat-form-field class="full-width">
            <textarea matInput required formControlName="description" placeholder="Action Description" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="5"></textarea>
            <mat-error *ngIf="description.hasError('required')">
              {{message.ERROR_REQUIRED_FIELD}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="fx-row wrap items-2">
          <mat-form-field>
            <mat-select formControlName="priority" placeholder="Priority" required (dataChange)="priorityData = $event" iapDropdownLoader
              [url]="mdUrl.PRIORITY">
              <mat-option *ngFor="let priority of priorityData" [value]="priority.id">{{priority.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="priority.hasError('required')">
              {{message.ERROR_REQUIRED_FIELD}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="dueDate" [matDatepicker]="picker" placeholder="Due Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dueDate.hasError('required')">
              {{message.ERROR_REQUIRED_FIELD}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="fx-row wrap items-2">
          <mat-form-field>
            <mat-select formControlName="completionStatus" placeholder="Action Completion Status" required>
              <mat-option [value]="'Open'">Open</mat-option>
              <mat-option [value]="'Complete'">Complete</mat-option>
            </mat-select>
            <mat-error *ngIf="completionStatus.hasError('required')">
              {{message.ERROR_REQUIRED_FIELD}}
            </mat-error>
          </mat-form-field>
          <div>
            <iap-label>Completion Date</iap-label>
            <iap-info-label>{{completionDate | date: 'dd MMM yyyy'}}</iap-info-label>
          </div>
        </div>
        <div class="fx-row wrap items-2">
          <div class="col-md-6">
            <iap-label>Action Party</iap-label>
            <iap-people-picker [getForId]="action?.actionPartyId" defaultRole="ActionParty" #ppActionParty isRequire=true placeholder="Action Party Name"
              (selectedUserChange)="handleSelectedUser($event)"></iap-people-picker>
          </div>
          <div class="col-md-6">
            <iap-label>Action Verifier</iap-label>
            <iap-people-picker [getForId]="action?.actionVerifierId" defaultRole="ActionItemVerifier" #ppActionVerifier isRequire=true
              placeholder="Action Verifier Name" (selectedUserChange)="handleSelectedUser($event)"></iap-people-picker>
          </div>
        </div>
        <div class="fx-row wrap items-2">
          <div>
            <iap-label>Due Date Extension Request</iap-label>
            <iap-info-label>{{dueDate | date: 'dd MMM yyyy'}}</iap-info-label>
            <br/>
            <button *ngIf="true" mat-raised-button class="mat-button-petronas-ghost-small" (click)="requestExtension()">
              REQUEST DUE DATE EXTENSION
            </button>
          </div>
        </div>
        <iap-attachment (beforeUpload)="handleBeforeUpload($event)" (afterUpload)="handleAfterUpload($event)" (afterDelete)="handleAfterDelete($event)"
          [listAttachmentId]="listAttachmentId"></iap-attachment>
      </form>
    </div>
    <div class="action">
      <button mat-raised-button color="primary" class="mat-button-lg" (click)="updateActionItem()">SAVE</button>
      <button mat-raised-button class="mat-button-petronas-ghost" (click)="location.back()">CANCEL</button>
    </div>
  </iap-form-layout-template>
</iap-box>
<iap-list-progress-update *ngIf="true" [parentId]="action?.id"></iap-list-progress-update>