<iap-dialog-header>
  <h2>ADD AN ASSESSOR</h2>
  <button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</iap-dialog-header>
<mat-dialog-content>
  <div class="content">
    <p class="notice">Please complete all compulsory fields(*) and click Save to complete your review.</p>
      <div class="content-wrapper">
        <div class="col-md-12 row">
          <div class="col-md-8 group-info">
            <div class="group-item">
              <div class="info">
                <iap-people-picker defaultRole="Assessor" #ppAssessor isRequire=true placeholder="Assessor Name" (selectedUserChange)="handleSelectedUser($event)"></iap-people-picker>
              </div>
            </div>
            <div class="group-item">
              <div class="title">
                Email Address
              </div>
              <div class="info">
                <h4>{{ assessor.email }}</h4>
                <!--<mat-form-field>
                    <input matInput cdkFocusInitial [(ngModel)]="selectedUserEmail" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <input formControlName="assessorId" type="hidden">
                <input formControlName="name" type="hidden">
                <input formControlName="opu" type="hidden">
                <input formControlName="department" type="hidden"> -->
            </div>
          </div>
          <div class="group-item">
            <div class="title">
              OPU
            </div>
            <div class="info">
              <h4>{{ assessor.opu == '' ? "&lt;system auto populate&gt;" : assessor.opu }}</h4>
            </div>
          </div>
          <div class="group-item">
            <div class="title">
              Department
            </div>
            <div class="info">
              <h4>{{ assessor.department == '' ? "&lt;system auto populate&gt;" : assessor.department }}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <div class="button-group">
            <button mat-raised-button color="primary" (click)="onSubmit()">SAVE</button>
            <button mat-raised-button class="mat-button-lg mat-button-ghost mat-button-border primary" mat-dialog-close>CANCEL</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>
