<iap-dialog-header>
    <h2>SETTING FOR ANNUAL AUTO CREATION</h2>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </iap-dialog-header>
  
  <mat-dialog-content>
    <div class="content">
      <p class="notice">Please complete all compulsory fields(*) and click Save to complete your review.</p>
      <div class="content-wrapper">
        <div class="input-fields">

          <!-- <form [formGroup]="form"> -->
              <form>
            <div class="row">
                <mat-form-field class="col-md-6">
                    <mat-select formControlName="enterpriseId" placeholder="OPU">
                      <mat-option>MLGN</mat-option>
                    </mat-select>
                  </mat-form-field>
              <mat-form-field class="col-md-6">
                  <input matInput formControlName="year" placeholder="Year" required cdkFocusInitial>
                </mat-form-field>
            </div>
            <div class="row">
                <!-- <div class="col-md-6" *ngFor="let location of lstLocation; let i = index">
                    <mat-checkbox [value]="location.id" (change)="onCheckChange($event)" [checked]="location.isChecked">{{location.name}}</mat-checkbox>
                  </div> -->
            </div>
          </form>
        </div>
        <div class="button-group">
          <!-- <button mat-raised-button color="primary" (click)="onSubmit()">SAVE</button> -->
          <button mat-raised-button color="primary" mat-dialog-close>CANCEL</button>
        </div>
      </div>
    </div>
  </mat-dialog-content>