<iap-dialog-header>
  <h2>CREATE A FINDING</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</iap-dialog-header>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="dialog-container">
      <div class="findings-info">
        <ng-container *ngIf="parentFindingType === parentFindingTypeConstants.FcCheckList">
          <div class="description">
            <mat-form-field class="full-width">
              <textarea matInput formControlName="description" placeholder="Findings Description" matTextareaAutosize matAutosizeMinRows="3"
                matAutosizeMaxRows="5" required></textarea>
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="parentFindingType !== parentFindingTypeConstants.FcCheckList">
          <iap-label wide-margin>Type of finding:</iap-label>
          <mat-radio-group class="type-finding" formControlName="findingType" [(ngModel)]="typeOfFinding">
            <mat-radio-button (change)="onFindingTypeChange($event)" value="gap" color="primary">GAP</mat-radio-button>
            <mat-radio-button (change)="onFindingTypeChange($event)" value="good-observation" color="primary">Good Observation</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="half-width" *ngIf="typeOfFinding === 'gap'">
            <mat-select placeholder="Classification" formControlName="classification" required>
              <mat-option [value]="'High'">High</mat-option>
              <mat-option [value]="'Medium'">Medium</mat-option>
              <mat-option [value]="'Low'">Low</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="description" placeholder="Findings Description" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="5" required></textarea>
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="typeOfFinding === 'gap'">
            <textarea matInput placeholder="Recommendation" formControlName="recommendation" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-select placeholder="Share to other location" (dataChange)="shareToLocationData = $event" iapDropdownLoader [url]="mdConstants.SHARE_TO_LOCATION"
              formControlName="shareToOtherLocation">
              <mat-option *ngFor="let data of shareToLocationData?.items" [value]="data.id">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="parentFindingType === parentFindingTypeConstants.AssurancePlan">
          <mat-form-field class="half-width">
            <mat-select placeholder="Risk Area" (selectionChange)="onRiskAreaChangeChange($event)" (dataChange)="riskAreaData = $event"
              iapDropdownLoader [url]="mdConstants.RISK_AREA" formControlName="riskAreaId">
              <mat-option *ngFor="let data of riskAreaData" [value]="data.id">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-select placeholder="Check List" (selectionChange)="onCheckListChange($event)" (dataChange)="checklistData = $event"
              iapDropdownLoader [url]="mdConstants.CHECK_LIST + riskAreaId" formControlName="mdmscId">
              <mat-option *ngFor="let data of checklistData" [value]="data.id">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-select placeholder="Element" (selectionChange)="onElementChange($event)" (dataChange)="elementData = $event" iapDropdownLoader
              [url]="mdConstants.ELEMENT + chkListId" formControlName="mdmscElementId">
              <mat-option *ngFor="let data of elementData" [value]="data.id">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-select placeholder="Sub-Element" (dataChange)="subElementData = $event" iapDropdownLoader [url]="mdConstants.SUB_ELEMENT + elementId"
              formControlName="mdmscSubElementId">
              <mat-option *ngFor="let data of subElementData" [value]="data.id">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <iap-attachment (afterUpload)="handleAfterUpload($event)" (afterDelete)="handleAfterDelete($event)" [listAttachmentId]="listAttachmentId"></iap-attachment>
      </div>
      <div class="action">
        <button mat-raised-button color="primary" class="mat-button-lg" (click)="onSubmit()">SAVE</button>
        <button mat-raised-button class="mat-button-lg" mat-dialog-close>CANCEL</button>
      </div>
    </div>
  </form>
</mat-dialog-content>